body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  border: 1px solid FireBrick;
  width: 75%;
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  pointer-events: all;
}

.explaination {
  width: 75%;
  margin: 0 auto;
}

svg {
  pointer-events: fill;
  fill: none;
}

.bubble {
  fill: crimson;
}

.circuit-wire {
  stroke-width: 2pt;
  stroke: black;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
}


.gate {
  fill: lightgrey;
  stroke-width: 2pt;
  stroke: black;
  stroke-linecap:butt;
  stroke-linejoin:round;
  stroke-miterlimit:4;
}

.gate-port {
  stroke-width: 4pt;
  stroke-linecap:round;
}
